<link rel="stylesheet" href="<%=assetPath('css/chat_box.css')%>">

<% if (locals.user){ %>
	<div id="user-chat-box">
		<div class="user-image"><img src="<%=to_user.avatar%>" alt="">
			<div class="user-name">
				<a href="/user/profile/<%=to_user.id%>">
					<%= to_user.name%>
				</a>
			</div>
		</div>
		<hr>
		<ul id="chat-messages-list">
			<% for(message of messages){%>
				
				<% if(message.from_user.id!=from_user.id) {%>
					<li class="other-message">
						<span><%=message.content%></span>
					</li>
				<%}else{%>
					<li class="self-message">
						<span><%= message.content%></span>
					</li>
				<%}%>
			<%}%>
		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js" integrity="sha512-2rUSTSAeOO02jF6eBqENNqPs1EohenJ5j+1dgDPdXSLz9nOlrr8DJk4zW/lDy8rjhGCSonW3Gx812XJQIKZKJQ==" crossorigin="anonymous"></script>
<script src="<%= assetPath('js/chat_engine.js')%>"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= from_user._id %>','<%=to_user._id%>');
</script>
<% } %>