<link rel="stylesheet" href="/css/home.css">
<section id="feed-posts">
    
        <div id="home-posts-container">
        <div id="post-list-container">
            <ul>
                <% for(p of post){%>
                    <%- include('_post') -%>
                <%}%>
            </ul>
        </div>
        </div>
</section>

<section id="aside">
    <% if(locals.user){%>
    <div class="aside-container">
        <div><img src="<%= user.avatar %>" alt="<%= user.name%>"></div>
        <div class="user-name">
            <a href="/user/profile/<%=user.id %>"> <%= user.name %></a>
        </div>
    
    </div>
    <% }%>
    <div>
        <h4>Friends</h4>
    <% for(u of all_users){ %>
        <p>
            <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
        </p>
        <%}%>
    </div>
</section>
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>

