<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header') %>
        <%if(flash.success && flash.success.length>0){%>
            <h5><%= flash.success%></h5>
            <%}%> 
        <main>
            <%- body %>
        </main>
        <%- include('_footer') %>
    </body>
</html>