<link rel="stylesheet" href="/css/profile.css">


<section>
    <div class="user-details">
    <div class="user-image">
        <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
    </div>
    <div class="details">
        <div class="detail">
            <div class="name"><%= profile_user.name %></div>
        <div class="edit"> <a href="">Edit profile</a></div>
        </div>
        <div class="detail">
            <div class="number"><b><%= post.length%></b> Posts</div>
        </div>
        <div class="detail">
            <div class="number">Mail:<%= profile_user.email %></div>
        </div>
    </div>
    </div>
<br>
<hr>
<div class="functions">
    <div id="posts"><a href="/user/profile/<%=profile_user.id %>"><i class="fas fa-th"></i>&nbsp;POSTS</a></div>
    <div id="content"></div>
    <div id="saved"><a href=""><i class="fas fa-bookmark">&nbsp;SAVED</i></a></div>
</div>
<div id="post-list-container">
    <ul>
        <% for(p of post){%>
            <%- include('_post') -%>
        <%}%>
    </ul>
</div>
</section>


<!-- <% if(user.id==profile_user.id){%>
    <form action="/user/update/<%= profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile picture">
        <input type="submit" value="update"> 

    </form>
<%}else{%>
    <%= profile_user.name%>
<%}%> -->
